/* Elements */

button {
    color: var(--gray-100);
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}


button.btn__solid--primary {
    align-items: center;
    background: var(--blue-dark);
    border-radius: 8px;
    border: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 16px;
}

button.btn__solid--primary:hover,
button.btn__solid--primary:active,
button.btn__solid--primary:focus-visible {
    background: var(--blue);
    outline: none;
}


button.btn--delete {
    background: none;
    border: none;
    border-radius: 4px;
    padding: 5px 5.522px 5px 6px;
}

button.btn--delete:hover,
button.btn--delete:active,
button.btn--delete:focus-visible {
    background: var(--gray-400);
    outline: none;
}

:where(button.btn--delete:hover,
    button.btn--delete:active,
    button.btn--delete:focus-visible) svg path {
    fill: var(--danger);
}

form.inline-form {
    display: flex;
    margin-top: 40px;
    gap: 8px;
}

input.input__text {
    align-items: center;
    background: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    color: var(--gray-300);
    /* display: flex; */
    flex: 1 0 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    line-height: 140%;
    padding: 16px;
}

input.input__text:hover,
input.input__text:active,
input.input__text:focus-visible {
    border: 1px solid var(--purple-dark);
    color: var(--gray-100);
    outline: none;
}

/* Change the white to any color */
input.input__text:-webkit-autofill,
input.input__text:-webkit-autofill:hover,
input.input__text:-webkit-autofill:focus,
input.input__text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--gray-500) inset !important;
}



input[type='checkbox'].input__checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    height: 28px;
    margin: 0;
    width: 28px;
}

input[type='checkbox'].input__checkbox {
    content: url('./assets/circle-unchecked.svg');
}

input[type='checkbox'].input__checkbox:checked {
    content: url('./assets/circle-checked.svg');
}

input[type='checkbox'].input__checkbox,
input[type='checkbox'].input__checkbox:checked {
    min-height: 18px;
    min-width: 18px;
    padding: 5px;
}

input[type='checkbox'].input__checkbox:active,
input[type='checkbox'].input__checkbox:focus-visible {
    background: var(--gray-400);
    border-radius: 4px;
    outline: none;
}

label.card__description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--gray-100);
    cursor: pointer;
    display: -webkit-box;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
}

label.card__description--completed {
    color: var(--gray-300);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    text-decoration-line: line-through;
}



/* List */

.todo__list {
    flex-direction: column;
    margin-block: 25px;
    row-gap: 12px;
}

/* Card */

.todo__card {
    align-items: center;
    align-self: stretch;
    background: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    gap: 12px;
    height: 100%;
    justify-content: space-between;
    max-height: 72px;
    padding-block: 16px;
    padding-inline: 11px 16px;
}

.todo__card .card__content {
    cursor: pointer;
    gap: 7px;
}

/* TodoHeader */
.count__container {
    gap: 8px;
    width: fit-content;
}

.count {
    background-color: var(--gray-400);
    border-radius: 999px;
    color: var(--gray-200);
    padding: 2px 8px;
    text-align: center;
    width: max-content;
}


/* TodoEmpty */

.todo-empty__container {
    border-top: 1px solid var(--gray-400);
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block: 24px;
    padding-block: 64px;
}

.todo-list__container {
    margin-block: 24px;
}